.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root {
  background-color: white;
  color: black;
  height: 45.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.card_box {
  border-radius: 10px;
  width: 30rem;
  height: 35rem;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
  border: 2px solid black;
  box-shadow: 4px 4px 8px #5b5b5b;
}
.main_heading {
  font-family: "Ubuntu", sans-serif;
}
hr {
  position: relative;
  bottom: 20px;
}
/* card Input start */
.inputDiv {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}
.inputDiv input {
  border-radius: 36px;
  padding-left: 25px;
  padding-right: 25px;
  width: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.inputDiv img {
  cursor: pointer;
  width: 3rem;
  height: auto;
  margin-left: 1rem;
  background-color: white;
  border-radius: 23px;
  padding: 10px;
}
/* card Input ends */

/* weather img start */
.imgDiv {
  display: flex;
  justify-content: center;
  height: 15rem;
}
.imgDiv img {
  width: 15rem;
  height: 14rem;
}
/* weather img ends */

/* Temp and city name starts */
.temp_city {
  position: relative;
  bottom: 2rem;
}
.temp p {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 0rem !important;
}
.city p {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 400;
}
.city {
  position: relative;
  top: 1.2rem;
  height: 3rem;
}

/* Temp and city name ends */

/* max min starts */
.max_min {
  position: relative;
  bottom: 69px;
}
.max_temp_text,
.min_temp_text {
  margin-right: 6px;
}
.max_temp {
  margin-right: 80px;
}
/* max min ends */

/* humidity and wind div start */
.hum_wind_Div {
  position: relative;
  bottom: 63px;
  display: flex;
}
.hum_img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  position: relative;
  top: 0.5rem;
}
.wind_img {
  width: 4rem;
  height: auto;
  margin-right: 0.5rem;
}
.hum_element {
  filter: invert(100);
  position: relative;
  left: 1rem;
}
.wind_element {
  filter: invert(100);
  position: relative;
  left: 11rem;
}
.data {
  font-weight: 700;
}
/* humidity and wind div end */

@media (max-width: 480px) {
  .card_box {
    width: 27rem;
  }
  .inputDiv input {
    width: 20rem;
  }
  .wind_element {
    position: relative;
    left: 8rem;
  }
}
@media (max-width: 432px) {
  .card_box {
    width: 24rem;
  }
  .inputDiv input {
    width: 16rem;
  }
  .wind_element {
    position: relative;
    left: 5rem;
  }
}
@media (max-width: 390px) {
  .card_box {
    width: 20rem;
    height: 39rem;
  }
  .inputDiv input {
    width: 13rem;
    font-size: 21px;
  }
  .inputDiv img {
    width: 36px;
    height: auto;
  }
  .imgDiv img {
    width: 10rem;
    height: 10rem;
  }
  .imgDiv {
    height: 12rem;
  }
  .hum_wind_Div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wind_element {
    position: relative;
    left: 4px;
  }
  .hum_element {
    position: relative;
    left: 0px;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .max_temp {
    margin-right: 25px;
  }
}
@media (max-width: 320px) {
  .card_box {
    width: 16rem;
    height: 39rem;
  }
  .inputDiv input {
    width: 11rem;
    font-size: 20px;
  }
  .inputDiv img {
    width: 35px;
    height: auto;
  }
  .imgDiv img {
    width: 10rem;
    height: 10rem;
  }
  .imgDiv {
    height: 12rem;
  }
  .hum_wind_Div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wind_element {
    position: relative;
    left: 4px;
  }
  .hum_element {
    position: relative;
    left: 0px;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .max_temp {
    margin-right: 15px;
  }
  .max_min {
    font-size: 13px;
  }
}
